/*
	Theme Name: CitronLab
	Author: CitronLab
	Author URI: http://www.citronlab.sk/
	Version: 0.1
*/

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Light.ttf);
  font-weight: 300;
}
/* General style */

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.btn {
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 3px;
}
.btn.btn-transparent {
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 0.7em;
}
.btn.btn-transparent .caret {
  margin-left: 6px;
}
.btn a {
  color: inherit;
}
.btn a:hover,
.btn a:focus,
.btn a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-weight: 700;
  font-size: 3.5em;
}
.background-grey {
  background: whitesmoke;
}
.background-white {
  background: white;
}
.background-charcoal {
  background: #252525;
  color: #7d7d7d;
}
.btn-primary {
  background-color: #0691cc;
}
.btn-primary:hover {
  background-color: #0db2f8;
  border-color: #0db2f8;
}
section.row .triangle {
  position: absolute;
  right: 0;
  top: 0;
}
.strip:nth-child(odd) .triangle {
  left: 0;
}
span.detail.orange {
  color: #ffa541 !important;
}
span.detail.blue {
  color: #42b5e6 !important;
}
span.detail.green {
  color: #9fff3c !important;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 34px 300px 0 300px;
  -moz-transform: scale(0.9999);
  border-color: whitesmoke transparent transparent transparent;
}
.triangle.triangle-white {
  border-color: white transparent transparent transparent;
}
.triangle.triangle-charcoal {
  border-color: #252525 transparent transparent transparent;
}
.hexagon {
  margin-top: 42px;
  width: 155.7px;
  height: 90px;
  background-color: rgba(66, 181, 230, 0.25);
  position: relative;
  display: inline-block;
  margin-left: -1px;
}
.hexagon:hover {
  background: rgba(153, 217, 245, 0.3);
}
.hexagon:hover:after,
.hexagon:hover:before {
  border-bottom-color: rgba(153, 217, 245, 0.3);
  border-top-color: rgba(153, 217, 245, 0.3);
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  border-left: 77.85px solid transparent;
  border-right: 77.85px solid transparent;
}
.hexagon:before {
  border-bottom: 45px solid rgba(66, 181, 230, 0.25);
  height: 0;
  top: -45px;
}
.hexagon:after {
  border-top: 45px solid rgba(66, 181, 230, 0.25);
  bottom: -45px;
}
.hexagon a.hexagon-content {
  position: absolute;
  width: 100%;
  height: 150%;
  top: -15px;
  text-align: center;
  font-size: 1.0em;
  overflow: visible;
  color: rgba(255, 255, 255, 0.7);
  z-index: 5;
}
.hexagon a.hexagon-content:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.hexagon a.hexagon-content h3 {
  margin-top: 10px;
  font-size: 0.95em;
}
.hexagon a.hexagon-content img.icon {
  width: 80px;
}
.comb-row:nth-child(even) {
  margin-left: 79.5px;
}
.comb {
  padding-bottom: 20px;
  float: right;
}
/* Page specific */

@media (max-width: 768px) {
  body > header {
    height: initial !important;
  }
}
body > header {
  height: 180px;
  /* First row*/

  /*Second row*/

}
body > header .login {
  padding: 8px 15px;
  float: right;
  font-size: 0.75em;
}
body > header .right,
body > header .left {
  display: inline-block;
  vertical-align: bottom;
}
body > header .left {
  width: 80%;
}
body > header .left h1 {
  height: 50px;
  padding-left: 10px;
  display: inline-block;
  margin: 0;
  border-left: solid 3px #eeeeee;
  color: #42b5e6;
}
body > header .right {
  width: 20%;
  padding: 5px 15px;
}
body > header .right .btn-group {
  width: 100%;
}
body > header .right .btn-group .btn {
  width: 50%;
}
@media (max-width: 768px) {
  body > header .right,
  body > header .left {
    display: block;
    vertical-align: bottom;
    width: 100% !important;
    text-align: center;
  }
  body > header .right .widget_search {
    width: 50%;
    display: inline-block;
  }
  body > header .right .widget_search form {
    display: inline-block;
    vertical-align: middle;
  }
  body > header .right .widget_search form input,
  body > header .right .widget_search form .btn {
    height: 41px;
  }
  body > header .right .widget_search form .search {
    margin: 0;
  }
  body > header .right .btn-wrapper {
    width: 50%;
    display: inline-block;
  }
  body > header .right .btn-wrapper .btn-group {
    width: initial;
  }
}
@media (max-width: 1200px) {
  body > header .right {
    width: 30%;
  }
  body > header .left {
    width: 70%;
  }
}
body > header nav.navbar {
  border: 0;
  margin-top: 53px;
  margin-left: -15px;
  margin-bottom: 0;
  z-index: 5;
}
body > header ul.navbar-nav li.current-menu-item {
  font-weight: bold;
}
body > header ul.navbar-nav > li > a:hover {
  background-color: inherit;
}
body > header ul.navbar-nav.collapsing,
body > header ul.navbar-nav.collapse.in {
  display: block;
  position: static;
  background-color: white;
  margin: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  body > header ul.navbar-nav {
    display: none;
  }
}
body > header .navbar-collapse {
  padding-left: 0;
}
body > header .navbar-collapse.in,
body > header .navbar-collapse.collapsing {
  padding-left: 15px;
  padding-right: 15px;
}
body > header .navbar-collapse ul > li > a {
  margin-right: 22px;
  text-shadow: none;
}
body > header .navbar-collapse ul > li > a:hover {
  background-color: transparent;
}
body > header .search {
  margin-bottom: 15px;
}
body > header .search .input-group-btn .btn-default {
  border-color: #cccccc;
}
body > header .btn-warning {
  background-color: #ff9218;
}
body > header .btn-warning.lighter {
  background-color: #ffa541;
}
body > main .mega {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("img/background.jpg");
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.2em;
  border-top: 1px solid #ffa541;
  border-bottom: 1px solid #ffa541;
}
body > main .mega h1 {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
body > main .mega p {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
body > main .mega p a,
body > main .mega p a:visited {
  font-weight: 700;
  color: #ffa541;
  text-decoration: none;
}
body > main .mega p a:hover,
body > main .mega p a:visited:hover {
  color: #eb9316;
}
body > main .mega p > strong {
  font-weight: 400;
}
body > main .mega .mega-text {
  margin-top: 60px;
  font-weight: normal;
}
body > main .mega .mega-text > p {
  margin-bottom: 30px;
  font-weight: 200;
}
body > main .circles {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
body > main a.circle-link {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 160px;
  height: 160px;
  margin: 10px;
  opacity: 0.8;
}
body > main a.circle-link > img {
  margin-top: -8px;
  margin-left: -8px;
}
body > main a.circle-link > i {
  margin-top: 10px;
}
body > main a.circle-link > p {
  color: white;
  font-weight: normal;
}
body > main a.circle-link:hover {
  text-decoration: none;
  background: #211e2e;
}
body > main a.circle-link:hover > img {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
body > main article {
  padding-top: 30px;
  padding-bottom: 30px;
}
body > main article h1,
body > main article h2,
body > main article h3,
body > main article h4,
body > main article h5,
body > main article h6 {
  color: #0691cc;
}
body > main article a {
  font-weight: bold;
  color: #056e9a;
}
body > main article a:hover {
  color: #034b69;
}
body > main article pre {
  padding: 0;
  border: none;
  border-radius: 0;
  tab-size: 4;
}
body > main article hr {
  border-top: solid 1px rgba(0, 0, 0, 0.07);
  padding-top: 10px;
}
body > main article .aligncenter {
  margin: 0 auto;
  text-align: center;
  display: block;
}
body > main article .meta {
  color: #a3a3a3;
}
body > main article .meta img.author {
  width: 100%;
}
body > main article .meta div.nick a {
  font-weight: bold;
  color: #8a8a8a;
}
body > main article .meta blockquote {
  margin-top: 15px;
  font-size: 1em;
}
body > main article .meta blockquote:before,
body > main article .meta blockquote:after {
  content: "\"";
}
body > main article .meta span.small:after {
  content: "/";
  color: #d9d9d9;
  padding-left: 3px;
  padding-right: 3px;
}
body > main article .meta span.small:last-child:after {
  content: "";
  padding: 0;
}
body > main article .meta a {
  font-weight: normal;
  color: inherit;
}
body > main article .meta i {
  padding-right: 2px;
}
body > main .widget .widget-head {
  background-color: #70d2fb;
  margin-top: 15px;
  padding: 15px 20px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
body > main .widget .widget-body {
  background-color: #d3f1fe;
  padding: 15px 20px;
}
body > main .widget .widget-body ul {
  list-style: none;
}
body > main .widget .widget-body ul > li > a {
  transition: padding linear 0.05s, color linear 0.05s;
}
body > main .widget .widget-body ul > li > a:hover {
  text-decoration: none;
  padding: 5px;
}
body > main .widget .widget-body .list-group,
body > main .widget .widget-body .list-group-item {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 2px;
}
body > main .widget .widget-body .list-group-item-heading {
  font-weight: normal;
  color: #3a3a3a;
}
body > main .widget .widget-body .list-group-item-text {
  padding-left: 10px;
  font-size: 0.9em;
  font-weight: 200;
}
body > main .widget.tags .badge {
  background: none;
  color: #cccccc;
}
body > main .widget.tags .list-group-item:before {
  content: '#';
}
body > main .widget.similar-articles .label {
  border-radius: 0;
  float: right;
  opacity: 0.5;
}
body > main .widget.similar-articles .label:hover {
  opacity: 1;
}
body > main .widget.similar-articles .list-group-item {
  clear: both;
}
body > main .widget.dark .widget-head {
  background-color: #045c82;
}
body > main .widget.dark .widget-body {
  background-color: #056e9a;
  color: white;
}
body > main .widget.dark .widget-body a {
  color: white;
  transition: padding linear 0.05s;
}
body > main .widget.dark .widget-body a:hover {
  text-decoration: none;
  padding-left: 5px;
}
body > main .widget.dark .popover {
  color: black;
  width: 150px;
}
body > main .widget.dark .popover .progress {
  margin: 0;
  margin-top: 10px;
}
body > main .widget.light .widget-head {
  background-color: #abbac0;
}
body > main .widget.light .widget-body {
  background-color: #e5eaec;
  color: #3a3a3a;
}
body > main .widget.light .widget-body a {
  transition: padding linear 0.05s;
  font-weight: normal;
  color: #3a3a3a;
}
body > main .widget.light .widget-body a:hover {
  text-decoration: none;
  padding-left: 5px;
}
body > main .comments {
  margin-top: 15px;
  padding: 20px 10px;
  border-top: solid 1px #eeeeee;
}
body > main .comments img.avatar {
  width: 4.5em;
}
body > main .comments .media-body p {
  margin: 0;
}
body > main .comments li.media {
  margin: 0 0 10px;
}
body > main .comments ul.children .media {
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 10px;
  border-left: solid 5px #aaaaaa;
  padding: 5px;
  background: whitesmoke;
}
body > main .comments ul.children .media img.avatar {
  width: 4em !important;
  height: 4em !important;
}
body > main .comments ul.children .media p {
  margin: 0 0 5px;
}
body > main .comments .comment-form-comment textarea {
  width: 100%;
}
body > main .comments .reply {
  color: #aaaaaa;
  transition: padding linear 0.05s;
}
body > main .comments .reply:hover {
  text-decoration: none;
  padding: 5px;
}
body > main section.row {
  position: relative;
}
body > main section.row .news-list h2 {
  color: white;
  font-weight: 700;
  font-size: 1.25em;
  background: #ff9218;
  text-align: center;
  text-transform: uppercase;
  padding: 7px;
  margin-top: 2.1em;
}
body > main section.row .news-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
body > main section.row .news-item > .date {
  color: #ff9218;
}
body > main section.row .news-item > h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}
body > main section.row .news-item > h3 > .title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 0.8em;
}
body > main section.row .news-item > .description {
  font-weight: 300;
  font-size: 0.9em;
}
body > main section.row .news-item .link_cats {
  color: #ff9218;
  font-size: 0.8em;
}
body > main section.row .news-item .link_cats > span:after {
  content: ", ";
}
body > main section.row .news-item .link_cats > span:last-child:after {
  content: '';
}
body > main section.row .login {
  padding-left: 5em;
  padding-right: 5em;
}
@media only screen and (min-width: 768px) {
  body > main section.row .login {
    border-right: 1px solid #cccccc;
  }
}
body > main section.row .login h2 {
  font-weight: 200;
  font-size: 2.2em;
  color: #0691cc;
}
body > main section.row .register {
  padding-left: 5em;
  padding-right: 5em;
}
body > main section.row .register h2 {
  font-weight: 200;
  font-size: 2.2em;
  color: #0691cc;
}
body > main .thumbnails-container {
  padding: 20px 0;
}
body > main .thumbnail {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  height: 100%;
  overflow: hidden;
}
body > main .thumbnail .image {
  border: none;
  height: 160px;
  overflow: hidden;
  display: block;
}
body > main .thumbnail .image img {
  width: 100%;
  height: initial;
}
body > main .thumbnail .caption {
  padding: 0;
}
body > main .thumbnail .caption .meta {
  font-size: 0.9em;
  padding: 5px 0px;
}
body > main .thumbnail .caption .meta .category {
  width: 50%;
  display: inline-block;
}
body > main .thumbnail .caption .meta .date {
  width: 50%;
  display: inline-block;
  text-align: right;
  float: right;
  color: #aeaeae;
}
body > main .thumbnail .caption a.title {
  color: inherit;
}
body > main .thumbnail .caption a.title > h3 {
  margin: 0px;
  font-size: 1.5em;
  color: inherit;
}
body > main .thumbnail .caption a.title:hover {
  text-decoration: none;
}
body > main .thumbnail .caption a.title:hover > h3 {
  color: inherit;
}
body > main section.breadcrumb-wrap {
  background: url("img/background-breadcrumb.jpg");
  background-size: cover;
  height: 60px;
}
body > main section.breadcrumb-wrap ol.breadcrumb {
  padding: 20px 15px;
  margin-bottom: 0px;
  background: none;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}
body > main section.breadcrumb-wrap ol.breadcrumb a,
body > main section.breadcrumb-wrap ol.breadcrumb a:visited {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
body > main section.breadcrumb-wrap ol.breadcrumb a:hover,
body > main section.breadcrumb-wrap ol.breadcrumb a:visited:hover {
  color: #eb9316;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget {
  display: inline-block;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget form {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget form input {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  padding-left: 5px;
  color: inherit;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget form input:focus {
  background-color: white;
  border-color: white;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget form input:focus + .input-group-btn {
  opacity: 1;
}
body > main section.breadcrumb-wrap ol.breadcrumb .widget .input-group-btn {
  opacity: 0;
  transition: opacity linear 0.2s;
}
body > main section.breadcrumb-wrap ol.breadcrumb li.active {
  color: #ffa541;
}
body > main .offset {
  padding-top: 100px;
  padding-bottom: 100px;
}
body > main .offset-small {
  padding-top: 60px;
  padding-bottom: 60px;
}
body > main .elegant h3 {
  font-weight: 300;
  font-size: 2.5em;
}
body > main .list-checkmark {
  padding-top: 30px;
}
body > main .list-checkmark a:link,
body > main .list-checkmark a:visited {
  font-weight: bold;
  color: #969696;
}
body > main .orange {
  color: #ff9218;
}

body > footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  background: url("img/background_footer.jpg");
  background-size: cover;
}
body > footer h2 {
  font-weight: 200;
  font-size: 1.65em;
  border-bottom: solid 2px #727676;
  padding-bottom: 10px;
}
body > footer .widget ul,
body > footer ul.nav {
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}
body > footer .widget ul > li > a,
body > footer ul.nav > li > a {
  color: #a8a7a9;
  font-size: 1.1em;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
body > footer .widget ul > li > a:hover,
body > footer ul.nav > li > a:hover {
  background: transparent;
  color: #ffa541;
}
body > footer .copy {
  padding-top: 40px;
  color: #a8a7a9;
}
body .form-control:focus {
  border-color: #ffa541;
  outline: #ffa541;
}
body .logo {
  width: 290px;
  height: 50px;
  padding-top: 10px;
  display: inline-block;
}
body .logo.smaller {
  width: 220px;
}
body .logo img {
  width: 100%;
}
/* Helpers */

div.placeholder {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}
